body{
    display: grid;
    margin: 0;
    padding: 0;
    background-color: rgb(41, 41, 41);
    color: white;
}

p{
    font-size: 23px;
}

.content{
    margin: 4rem;
}
.navigation{
    display: grid;
    background-color: rgba(8, 8, 8, 0.777);
    padding-left: 1rem;
    padding-right: 1rem;
    grid-template-columns: 2fr 1fr;
}

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style:none;
    justify-content: center;
    align-items: center;
    
}

.introduction{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.textIntroduction{
    width: 75%;
    padding: 4rem;
}

.summary{
    background-color: rgb(75, 156, 129);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}

.summaryHeader h1{
    text-align: right;
    padding-right: 4rem;
}