body{
    display: grid;
    margin: 0;
    padding: 0;
    background-color: rgb(41, 41, 41);
    color: white;
}

.content{
    margin: 4rem;
}
.navigation{
    display: grid;
    background-color: rgba(8, 8, 8, 0.777);
    padding-left: 10px;
    padding-right: 10px;
    grid-template-columns: 2fr 1fr;
}

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style:none;
    justify-content: center;
    align-items: center;
    
}

.introduction{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.textIntroduction{
    width: 75%;
    padding: 4rem;
}

.summary{
    background-color: rgb(75, 156, 129);

}